.table_row1{
    background-color: black;
    color: chocolate;
}
.table_header{
    text-align: center;
}
.table_body{
    text-align: center;
}
.main_header{
    text-align: center;
    padding: 5px;
    font-style: italic;
}
.patient_id{
    background-color: powderblue;
    cursor: pointer;
}
.patient_name{
    background-color: salmon;
    cursor: pointer;
}
.main_header{
	font-family: 'Titillium Web', sans-serif;
}